In [18]:
import pandas as pd

In [19]:
courses = pd.read_csv('../Data/Coursera.csv')
courses.head(2)

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...

In [20]:
courses.columns , courses.shape

(Index(['Course Name', 'University', 'Difficulty Level', 'Course Rating',
        'Course URL', 'Course Description', 'Skills'],
       dtype='object'),
 (3522, 7))

In [21]:
courses.isna().sum()

Course Name           0
University            0
Difficulty Level      0
Course Rating         0
Course URL            0
Course Description    0
Skills                0
dtype: int64

In [22]:
courses.describe()

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
count,3522,3522,3522,3522,3522,3522,3522
unique,3416,184,5,31,3424,3397,3424
top,Google Cloud Platform Fundamentals: Core Infra...,Coursera Project Network,Beginner,4.7,https://www.coursera.org/learn/gcp-fundamentals,This course introduces you to important concep...,Google Cloud Platform Big Data Cloud Infrast...
freq,8,562,1444,740,8,8,8

In [23]:
courses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3522 entries, 0 to 3521
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Course Name         3522 non-null   object
 1   University          3522 non-null   object
 2   Difficulty Level    3522 non-null   object
 3   Course Rating       3522 non-null   object
 4   Course URL          3522 non-null   object
 5   Course Description  3522 non-null   object
 6   Skills              3522 non-null   object
dtypes: object(7)
memory usage: 192.7+ KB

In [24]:
# Check for duplicated Course Names
duplicated_courses = courses[courses.duplicated('Course Name', keep=False)]
duplicated_courses[['Course Name']]

                                            Course Name
43    Introduction to Cybersecurity Tools & Cyber At...
44    Introduction to Cybersecurity Tools & Cyber At...
94                                       Guided Imagery
96    Building Resilient Streaming Analytics Systems...
158                                      Guided Imagery
...                                                 ...
3491                      Applied Data Science Capstone
3499  Google Cloud Platform Fundamentals: Core Infra...
3500  Google Cloud Platform Fundamentals: Core Infra...
3503                Copyright Law in the Music Business
3504                Copyright Law in the Music Business

[188 rows x 1 columns]

In [25]:
duplicated_courses.head(5) #Check if there any difference

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
43,Introduction to Cybersecurity Tools & Cyber At...,IBM,Beginner,4.3,https://www.coursera.org/learn/introduction-cy...,This course gives you the background needed to...,cyber-security regulation cyber security stan...
44,Introduction to Cybersecurity Tools & Cyber At...,IBM,Beginner,4.3,https://www.coursera.org/learn/introduction-cy...,This course gives you the background needed to...,cyber-security regulation cyber security stan...
94,Guided Imagery,University of Minnesota,Intermediate,4.8,https://www.coursera.org/learn/guided-imagery,"In this course, you will learn how you can use...",functional medicine music meditation counse...
96,Building Resilient Streaming Analytics Systems...,Google Cloud,Advanced,4.6,https://www.coursera.org/learn/streaming-analy...,*Note: this is a new course with updated conte...,Cloud Computing bigquery bigtable dataflow ...
158,Guided Imagery,University of Minnesota,Intermediate,4.8,https://www.coursera.org/learn/guided-imagery,"In this course, you will learn how you can use...",functional medicine music meditation counse...

In [26]:
#delete duplicated courses
courses = courses.drop_duplicates('Course Name', keep='first')

In [27]:
courses.head()

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...

In [28]:
courses.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3416 entries, 0 to 3521
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Course Name         3416 non-null   object
 1   University          3416 non-null   object
 2   Difficulty Level    3416 non-null   object
 3   Course Rating       3416 non-null   object
 4   Course URL          3416 non-null   object
 5   Course Description  3416 non-null   object
 6   Skills              3416 non-null   object
dtypes: object(7)
memory usage: 213.5+ KB

In [29]:
courses.insert(0 , 'ID' , range(0,3416))
courses.head()

,ID,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
0,0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,3,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...

In [31]:
mapping = {'Beginner' : 0 ,
           'Intermediate' : 1,
           'Advanced' : 2}

courses["Difficulty Level"] = courses["Difficulty Level"].map(mapping)

courses.head()

,ID,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
0,0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,0.0,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,0.0,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,2,Silicon Thin Film Solar Cells,�cole Polytechnique,2.0,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,3,Finance for Managers,IESE Business School,1.0,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,0.0,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...

In [34]:
courses['Course Name'] = courses['Course Name'].str.lower()
courses['University'] = courses['University'].str.lower()
courses['Course Description'] = courses['Course Description'].str.lower()
courses['Skills'] = courses['Skills'].str.lower()

In [35]:
courses.head()

,ID,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
0,0,write a feature length screenplay for film or ...,michigan state university,0.0,4.8,https://www.coursera.org/learn/write-a-feature...,write a full length feature film script in th...,drama comedy peering screenwriting film d...
1,1,business strategy: business model canvas analy...,coursera project network,0.0,4.8,https://www.coursera.org/learn/canvas-analysis...,"by the end of this guided project, you will be...",finance business plan persona (user experien...
2,2,silicon thin film solar cells,�cole polytechnique,2.0,4.1,https://www.coursera.org/learn/silicon-thin-fi...,this course consists of a general presentation...,chemistry physics solar energy film lambda...
3,3,finance for managers,iese business school,1.0,4.8,https://www.coursera.org/learn/operational-fin...,"when it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,4,retrieve data using single-table sql queries,coursera project network,0.0,4.6,https://www.coursera.org/learn/single-table-sq...,in this course you�ll learn how to effectively...,data analysis select (sql) database manageme...

In [37]:
courses.to_csv("../Data/cleaned_courses.csv")